body{
    background-color: rgb(134, 132, 132);
}


.sucess-msg{
    color: rgb(0, 0, 0);
    background-color: rgb(29, 151, 29);
    padding: 8px;
    display: none;
}

form{
    margin-top: 40px;
}

div , h1{
    width:350px ;
    margin: 20px;
    color: rgb(0, 0, 0) ;
}

.error-msg{
    display:none;
    background-color: red;
    color: rgb(255, 253, 253);
    padding: 8px;
}

.error2-msg{
    display:none ;
    background-color: rgb(245, 212, 64);
    padding: 8px;
    width: 280px;

}