*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 16px 0;
    color: #ffffff;
    background-color: rgb(11, 114, 211);
    display: flex;
}

header .container,
.sobre-loja  .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav li{
    font-size: 20px;
    display: inline;
    margin-left: 16px;
}

header nav li a {
    color: #ffffff;
    text-decoration: none;
}

.sobre-loja .container{
    align-items: flex-start;
}

h2{
    margin-top: 45px;
    margin-bottom: 50px;
    margin-left: 40px;
}

.sobre-loja p{
    font-size: 18px;
    margin-left: 40px;
}

.sobre-loja img{
    height: 350px;
    margin-top: 50px;
}


.shoes li img {
    height: 200px;
    display: inline;
}

